* {
    margin: 0;
    box-sizing: border-box;

}

.flix {
    font-family: "Bungee Spice", sans-serif;
    font-size: 45px;
    transform: translateX(5rem);
    text-shadow: 1px 2px 1px #fff, 5px 2px 1px #999;
    display: flex;
    align-items: center;
    gap: 20px;
}

.admin__button {
    background-color: rgb(232, 128, 0);
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}
.button_admin{
    margin-top: 3%;

}

.admin__button:hover {
    background-color:rgb(201, 111, 0);
    
}


.refs {
    background-color:transparent;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
 
}

.refs a {
    text-decoration: none;
}


.refs:hover {
    background-color: rgb(232, 128, 0);
}

.admin:active {
    transform: translateY(1px);
}




.user:active {
    transform: translateY(1px);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 88rem;
}


/* Estilos adicionales para las imágenes de las películas */
.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
    /*más lento*/
}

.row__poster:hover {
    transform: scale(1.08);
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    padding: 0px;
    overflow-x: scroll;
}

.row__posters::-webkit-scrollbar {
    display: none;
    /* Oculta la barra de desplazamiento en WebKit */
}

.row__posterLarge {
    max-height: 310px;
}

.row__posterLarge:hover {
    transform: scale(1.1);
}

.row {
    color: white;
    margin-left: 20px;
    
}

.content_row {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner {
    background-image: url(assets/banner.jpg);
    background-size: cover;
    /*para cubrir todo*/
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 448px;
   
}

.banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;

}

.banner__description {
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 360%;
    height: 180px;
    display: flex;
  
 

    
}

.banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(51, 51, 51, 0.5);
    /*transparente*/

}

.banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner--fedeBottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);

}


.nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
   justify-content: space-between;
    padding: 10px;
    transition-timing-function: ease-in;
    /*para que el nav se mueva con el scrool*/
    transition: all 0.5s;
    z-index: 1;
}

.nav__black {
    background-color: #111;
    /*para el JS*/
}

.nav div {
    display: flex; 
    
 
}

.foto_perfil img {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: -15%;
}

.foto_perfil {
    display: flex;
    gap: 5px;
    transition: transform 450ms;
}

.foto_perfil svg {
    flex-shrink: 0;
    width: 1.5rem;
    transition: transform 550ms;
    fill: white;
    
}

.foto_perfil:hover {
    transform: scale(1.08);
}

.foto_perfil:hover svg {
    transform: rotate(-180deg);
}

.profile {
    gap: 20px;
    transform: translateX(-5rem);
}

/*estilos para titulos*/

@media screen and (max-width: 668px) {
    .nav div {
      flex-direction: column;
      align-items: center;
    }
    
    .flix {
      order: -1; /* Coloca .flix arriba */
      transform: translateX(0); /* Ajusta la posición horizontal */
      margin-bottom: 10px; /* Espacio entre .flix y otros botones */
      font-size: 30px; /* Tamaño de fuente más pequeño para .flix */
    }

    .foto_perfil {
        display: none; /* Oculta la foto de perfil */
      }
  
    .foto_perfil,
    .admin__button,
    .refs,
    .button_admin,
    .admin,
    .user {
      width: 100%; /* Asegura que los botones ocupen el ancho completo */
      margin-bottom: 1px; /* Espacio entre los botones */
      font-size: 12px; /* Tamaño de fuente más pequeño para los botones */
    }
    
    .flix,
    .admin,
    .user {
      margin-top: 2px; /* Espacio entre el título y los botones */
    }
  }
  







