body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}

.head a {
    text-decoration: none;
}

.logo {
    font-family: "Bungee Spice", sans-serif;
    text-shadow: 1px 2px 1px #fff, 5px 2px 1px #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transform: translateX(-40rem);
}

.perfil {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    transform: translateX(40rem);
}

.foto_perfil {
    display: flex;
    gap: 13px;
    width: 70%;
    border-radius: 5px;
}

.foto_perfil img {
    width: 54px;
    transition: transform 550ms;
}

.perfil svg {
    flex-shrink: 0;
    width: 20px;
    transition: transform 550ms;
    fill: black;
}

.foto_perfil:hover {
    background-color: rgb(230, 230, 230);
}

.foto_perfil:hover img {
    transform: scale(1.1);
}

.perfil:hover svg {
    transform: rotate(-180deg);
}

.salir {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    box-shadow: -1px 1px 5px black;
    border-radius: 8px;
    background-color: white;
}

.perfil:hover .salir {
    display: block;

}

.perfil:hover {
    transform: translateX(42rem) translateY(32px);

}

.salir button {
    background-color: transparent;
    border: none;
    color: black;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 12px;
    padding-left: 21px;
    padding-right: 21px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;

}

.formulario {
    padding: auto;
    background-color: rgb(250, 250, 580);
    height: 60rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border: 0.1px solid black;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
    display: flex;
    gap: 20px;
}

.box form {

    line-height: 0.9;
}

.details {
    left: 50px;
    transform: translateX(-20rem);
    font-size: 33px;
    padding: 15px;
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    gap: 8px;
}

.fotos_perfil {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fotos_perfil label {
    font-weight: bold;
}

.labels_photos {
    display: flex;
    width: 800px;
    gap: 8px;
}

.labels label {
    font-weight: bold;
}


.icons {
    display: flex;
    gap: 15px;
}

.icons svg {
    width: 30px;
    transform: translateY(-18px);
}

input[type="text"] {
    padding: 8px;
    font-size: 20px;
}

input[type="email"] {
    padding: 8px;
    font-size: 20px;
}

input[type="password"] {
    padding: 8px;
    font-size: 20px;
} 

input[type="password"] {
    padding: 8px;
    font-size: 20px;
}

input[type="submit"] {
    padding: 13.5px;
    padding-left: 43px;
    padding-right: 43px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    border-radius: 8px;
}

.save {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 0px 0px 2px black;
}

.save:hover input[type="submit"] {
    background-color: rgb(230, 230, 230); 
}
/*estilos footer*/

.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contain {
    display: flex;
    gap: 25rem;
    width: 100rem;
    justify-content: center;
    align-items: center;
}

.line1 {
    border: 1px solid red;
}

.copy {

    font-size: 17px;
}

.msg {
    position: absolute;
    padding: 5px;
    font-size: 20px;
    background-color: red;
    border-radius: 15px;
    color: white;
    transform: translateX(13rem)
    translateY(-22rem);
}

.photos img {
    width: 54px;
}

.text a {
    color: white;
}